main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

span {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;
}

.img-wrapper {
  position: relative;
  padding-bottom: 130%;
  overflow: hidden;
  width: 100%;
}
.img-wrapper img {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

a {
    color:#3d8eb9
}

.alert a {
    color:#fff   
}