/* spotlight */
/*--------------------
Body
--------------------*/
.app,
.app::before,
.app::after {
  box-sizing: border-box;
}


/*--------------------
App
--------------------*/
.app {
  position: relative;
  top: 50%;
/*  left: 25%;*/
/*  transform: translate(-50%, -50%);*/
  width: 744px;
  height: 330px;
  margin: auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.app h2 {
  color: #525661;
  font-size: 17px;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 28px 0;
  margin: -6px 0 0 0;
}



/*--------------------
Movies
--------------------*/
.movies {
  display: flex;
  padding: 8px 18px;
  height: 100%;
}
.movies .movie {
  padding: 10px;
  cursor: pointer;
    width: 25%;
}
.movies .movie .poster {
  width: 100%;
  height: 80%;
  margin-bottom: 6px;
  border-radius: 4px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.movies .movie .poster.active {
  opacity: 0;
}
.movies .movie .title {
  color: #525661;
  margin-bottom: 4px;
  font-size: 16px;
  overflow: auto;
  height: 26px;
  display:none;
}
.movies .movie .info {
  font-size: 11px;
  opacity: .8;
}

.movie .info span {
  padding: 12px;
}
.movies .movie .desc {
  display: none;
}

.movies .movie .play {
    display: none;
}

.movies .movie .release {
    display: none;
}

/*--------------------
Detail
--------------------*/
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 37px 30px 30px 255px;
  display: none;
}
.detail::before {
  content: '';
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close-app {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 6px solid #FFF;
  box-sizing: content-box;
  z-index: 10;
}
.detail .poster {
  position: absolute;
  z-index: 2;
    background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: -10%;
  left: -6%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .title,
.detail .info,
.detail .desc,
.detail .play,
.detail .close-app {
  transform: translateX(-50px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close-app {
  transform: translateX(10px);
}
.detail .title {
  font-size: 35px;
  font-weight: 300;
  color: #525661;
  margin-bottom: 5px;
  overflow: auto;
  height: 55px;
    display:block;
}
.detail .info {
  font-size: 11px;
  opacity: 0;
  margin-left: 2px;
}
.detail .desc {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.6;
        max-height: 110px;
    overflow: auto;
}
.detail .play {
  background: linear-gradient(90deg, #d6493a, #e25041);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 17px;
  margin: 30px 10px 0 -2px;
  text-transform: uppercase;
  z-index: 10;
  outline: none !important;
  cursor: pointer;
  opacity: 0;
}
.detail .play a {
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
}

.detail .movie .release {
    display: inline;
}

.detail.ready::before {
  opacity: 1;
}
.detail.ready .info {
  opacity: .8;
}
.detail.ready .poster {
  opacity: 1;
  transition-duration: .5s;
}
.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .play,
.detail.ready .close-app {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0s;
  transition-duration: .5s;
}
.detail.ready .title {
  transition-delay: .2s;
}
.detail.ready .info {
  transition-delay: .3s;
}
.detail.ready .desc {
  transition-delay: .4s;
}
.detail.ready .play {
  transition-delay: .5s;
}
