amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
Babel==2.4.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
billiard==3.3.0.23
celery==3.1.25
certifi==2017.4.17
datefinder==0.6.1
decorator==4.0.11
dj-database-url==0.4.2
Django==1.11.1
django-el-pagination==3.1.0
flower==0.9.1
FormEncode==1.3.1
futures==3.1.1
gunicorn==19.7.1
IMDbPY==5.1.1
kombu==3.0.37
lxml==3.7.3
numpy==1.12.1
packaging==16.8
pandas==0.20.1
pbr==3.0.1
PyDispatcher==2.0.5
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
regex==2016.1.10
six==1.10.0
SQLAlchemy==1.1.10
sqlalchemy-migrate==0.11.0
SQLObject==3.3.0
sqlparse==0.2.3
Tempita==0.5.2
tornado==4.2
vine==1.1.3
whitenoise==3.3.0
psycopg2==2.6.2
Unidecode==0.04.21
discogs_client==2.2.1
gmusicapi==10.1.2
pocket_api==0.1.5
pylast==1.9.0
pandas==0.19.2
youtube_dl==2017.7.30.1
spotipy==2.4.4
todoist_python==7.0.17
google_auth_oauthlib==0.1.1
requests==2.18.4
eyeD3==0.8
PyLyrics==1.1.0
google_api_python_client==1.6.4
billboard.py==4.0.0
beautifulsoup4==4.6.0
pocket==0.3.6
todoist==0.0.1